.App {
    text-align: center;
    background-color: rgb(215, 183, 161); /* Darkish blue background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .App-header {
    background-color: #1a2a40; /* Match the app background */
    padding: 20px;
    color: white;
  }
  .App h1{
    
    position: absolute;
    top: 200px;
    left:550px
  }
  .level-container{
    position: absolute;
    top: 250px;
  }
  .App-header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .App-footer {
    background-color: #1a2a40; /* Match the app background */
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .App-footer p {
    margin: 0;
  }

  @keyframes customBounce {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-25px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  .animate-custom-bounce {
    animation: customBounce 2s infinite;
  }
  